
{% extends 'base.html' %}

{% block title %}Madlib - Story List{% endblock %}
    {% block header %}<h1>Madlibs</h1>{% endblock %}

    {% block contents%}
    <h2>Choose a story:</h2>
    <form action="/story_form">
        <select name="title">
        {% for key in keys%}
            <a href="/story_form/{{key}}">{{key}}</a>
            <option value="{{key}}">{{key}}</option>
            
        {% endfor %}
        
        </select>
        <button type="submit">Go!</button>
    </form>
    {% endblock %}
